body{
    background-color:rgb(11, 54, 119);
    text-align: center;
}

#Tela{
    width: 640px;
    height: 630px;
    border: 5px solid black;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background: url("../img/regras-menu.png");
}

.Voltar{
    width: 100px;
    height: 50px;
    margin-top: 580px;
    margin-left: -5px;
    background: url("../img/seta1.png")
}
