body{
    background: black
}
canvas#Fundo{
    background: rgb(1, 153, 158);
    width: 600px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
div#Personagem{
    background: rgb(250, 64, 64);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 450px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
} 
canvas#Chao{
    background: rgb(201, 201, 2);
    width: 600px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 550px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
p.boxmodel12{
    width: 300px;
    height: 150px;
    background: #900;
    color: #FFF;
    padding: 20px;
    border: 5px solid #ccc;
}